###### Heroes Of Pymoli Data Analysis
* Of the 780 transactions, the vast majority were from males (652). There also exists, a smaller, but notable number of transactions from female players (113).
* Our peak age demographic falls between 20-24 (63.37%) with secondary groups falling between 15-19 (23.61%) and 25-29 (17.53%). 
* The most popular and profitable item was: Oathbreaker, Last Hope of the Breaking Storm. It was purchased a total of 12 times which resulted in a total purchase value of $50.76.
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [22]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [23]:
#Out = 576
#nunique counts the number of unique instances. A new method from Lauren. 
totalplayers = purchase_data["SN"].nunique()
totalplayers

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
itemunique = purchase_data["Item ID"].nunique()
averageprice = purchase_data["Price"].mean()
purchasenumber = purchase_data["Purchase ID"].count()
totalrevenue = purchase_data["Price"].sum()

smry_df = pd.DataFrame({"Number of Unique Items": itemunique,
                        "Average Price": averageprice,
                        "Number of Purchases": purchasenumber,
                        "Total Revenue": [totalrevenue]})
smry_df

smry_df["Total Revenue"] = smry_df["Total Revenue"].map("${:,.2f}".format)
smry_df["Average Price"] = smry_df["Average Price"].map("${:.2f}".format)

smry_df
#Number of Unique Items	Average Price	Number of Purchases	Total Revenue
#183	$3.05	780	$2,379.77

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
#This commented out method also gives gender count but shows the column title for gender. 
#gendergroup = purchase_data.groupby(["Gender"])
#gendercount = gendergroup["SN"].count()
#gendercount

gendercount = purchase_data["Gender"].value_counts()
genderpercentage = round(gendercount/totalplayers*100,2)
genderpercentage

gendersmry_df = pd.DataFrame({"Percentage of Players": genderpercentage,
                             "Total Count": gendercount})
gendersmry_df

#The code below was the first attempt to create the summary data frame. This method did not produce the gender row titles as 
#the code above does when you use the value_counts method and assign it  to a variable for use in a data frame. 
# malecount = purchase_data.loc[(purchase_data["Gender"]=="Male")]
# totalmale = malecount["Gender"].count()
# femalecount = purchase_data.loc[(purchase_data["Gender"]=="Female")]
# totalfemale = femalecount["Gender"].count()
# othercount = purchase_data.loc[(purchase_data["Gender"]=="Other / Non-Disclosed")]
# totalother = othercount["Gender"].count()
# percentagefemale = round(totalfemale/totalplayers*100,2)
# percentagefemale
# percentagemale = round(totalmale/totalplayers*100,2)
# percentageother = round(totalother/totalplayers*100,2)

# gendersmry_df = pd.DataFrame({"Percentage of Players": [percentagemale,percentagefemale,percentageother],
#                              "Total Count": [totalmale,totalfemale, totalother]})
# gendersmry_df

                       Percentage of Players  Total Count
Male                                  113.19          652
Female                                 19.62          113
Other / Non-Disclosed                   2.60           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
gendergroup = purchase_data.groupby("Gender")
genpurcount = gendergroup["Item Name"].count()
genderavprice = gendergroup["Price"].mean()
genpurval = gendergroup["Price"].sum()
normaltotal = genpurval/genpurcount
genderprchsmry_df = pd.DataFrame({"Purchase Count": genpurcount,
                                 "Average Purchase Price": genderavprice,
                                 "Total Purchase Value": genpurval,
                                 "Normalized Totals": normaltotal})
genderprchsmry_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [27]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age"] = pd.cut(purchase_data["Age"], bins = age_bins, labels= group_names)

agegroup = purchase_data.groupby(["Age"])
agecount = agegroup["Age"].count()

agepercentage = round(agecount/totalplayers*100, 2)

agesmry_df = pd.DataFrame({"Percentage of Players": agepercentage,
                          "Total Count": agecount})
agesmry_df

       Percentage of Players  Total Count
Age
<10                     3.99           23
10-14                   4.86           28
15-19                  23.61          136
20-24                  63.37          365
25-29                  17.53          101
30-34                  12.67           73
35-39                   7.12           41
40+                     2.26           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

agegroup = purchase_data.groupby(["Age"])
purchase_data.head()
purchasecount = agegroup["Purchase ID"].count()
ageavprice = agegroup["Price"].mean()
agetotval = agegroup["Price"].sum()
agenortotal = agetotval/purchasecount

agesmry_df = pd.DataFrame({"Purchase Count": purchasecount,
                          "Average Purchase Price": ageavprice,
                          "Total Purchase Value": agetotval,
                          "Normalized Totals": agenortotal})
agesmry_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Age,,,,
<10,23,3.353478,77.13,3.353478
10-14,28,2.956429,82.78,2.956429
15-19,136,3.035956,412.89,3.035956
20-24,365,3.052219,1114.06,3.052219
25-29,101,2.900990,293.00,2.900990
30-34,73,2.931507,214.00,2.931507
35-39,41,3.601707,147.67,3.601707
40+,13,2.941538,38.24,2.941538

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:

sngroup = purchase_data.groupby(["SN"])
totalpurval = sngroup["Price"].sum()
avpurprice = sngroup["Price"].mean()
sncount = sngroup["SN"].count()

sn_df = pd.DataFrame({"Purchase Count": sncount,
                      "Average Purchase Price": avpurprice,
                      "Total Purchase Value": totalpurval})
sn_df = sn_df.loc[(sn_df["Total Purchase Value"]>13)]
sn_df = sn_df.sort_values("Total Purchase Value",ascending=False)
sn_df

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [32]:

itemgroup = purchase_data.groupby(["Item ID", "Item Name"])
itemcount = itemgroup["Price"].count()
itemtotval = itemgroup["Price"].sum()
itemprice =itemtotval/itemcount
item_df = pd.DataFrame({"Purchase Count": itemcount,
                        "Item Price": itemprice,
                       "Total Purchase Value": itemtotval})

item_df = item_df.sort_values("Purchase Count", ascending=False)
item_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [33]:
item_df = item_df.sort_values("Total Purchase Value", ascending = False)
item_df["Total Purchase Value"] = item_df["Total Purchase Value"].map("${:.2f}".format)
item_df["Item Price"] = item_df["Item Price"].map("${:.2f}".format)
item_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80